@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Serif+HK:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    margin:0;
}

header {
    margin:0;
    padding:0;
}

h1 {
    margin:0;
    font-family:'Lobster', 'Noto+Serif+HK',sans-serif;
}

/*Styling for the heading of the main page*/
/*The background should be colorful and engaging. This background captures the user's attention while still giving the title its share of attention.*/
#main-heading {
    font-size: 4em;
    text-align: center;
    width:100%;
    height:50vh;
    background: url('../images/hot-air-balloon.jpg') center center no-repeat;
    color:white;
}

#main-heading > h1 {
    padding:2em;
}

/*Styling the navigation bar. There are only two items, the home and the quiz button. The home and quiz button will change color when the mouse hovers over them.*/

nav {
    font-size:1.5em;
    padding: 0.75em;
    background-color: rgb(93, 72, 233);
    text-align: right;
}

nav a {
    text-decoration: none;
    border-radius: 25%;
    color:rgb(12, 12, 117);
}

.home-button {
    margin: 1em;
}

.quiz-button {
    margin:1em;
}

.home-button:hover {
    color:rgb(23, 218, 221);
}

.quiz-button:hover{
    color:rgb(23, 218, 221);
}

/*Styling the text on the home page.*/
#provocation {
    text-align: center;
    font-size: 2em;
}

#start-quiz {
    font-size: 0.75em;
    padding:15px 20px;
    border-radius: 10px;
}

#start-quiz:hover {
    cursor:pointer;
    background-color:rgb(0, 204, 255);
}

/*Styling for the heading of the heading of the quiz page. I think I'll use the same size and style.*/
#quiz-heading {
    font-size: 2.5em;
    text-align: center;
    background-color: blue;
    padding:0;
}

/*Styling the information section on the quiz page.*/
#information {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 1.75em;
    background-color: aqua;
    padding:1em;
    border-radius: 10px;
    width:50%;
}

#title {
    font-size:1.25em;
}

/*Styling the 'information.'*/

.info {
    line-height:1.5em;
}

/*Styling the buttons for the quiz: the exit and accept button below the information section.*/

#buttons {
    background-color: aquamarine;
    text-align: center;
}

#exit-quiz {
    font-size: 0.65em;
    padding:5px;
    border-radius: 10px;
    margin: auto;
}

#begin-quiz {
    font-size: 0.65em;
    padding:5px;
    border-radius: 10px;
    margin: auto;
}

#exit-quiz:hover{
    background-color: rgb(197, 200, 52);
    cursor: pointer;
}

#begin-quiz:hover{
    background-color: rgb(43, 226, 107);
    cursor: pointer;
}