@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Serif+HK:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    margin:0;
}

body.color{
    background-color: rgb(108, 215, 244);
}

header {
    margin:0;
    padding:0;
}

h1 {
    margin:0;
    font-family:'Lobster', 'Noto+Serif+HK',sans-serif;
}

/*Styling for the heading of the main page*/
/*The background should be colorful and engaging. This background captures the user's attention while still giving the title its share of attention.*/
#main-heading {
    font-size: 4em;
    text-align: center;
    width:100%;
    height:50vh;
    background: url('../images/hot-air-balloon.jpg') center center no-repeat;
    color:white;
}

#main-heading > h1 {
    padding:2em;
}

/*The heading and engaging statements should be removed once the start button is clicked.*/

#main-heading.main-heading-remove {
    display:none;
}

#provocation.provocation-none {
    display:none;
}

/*Styling the text that engages the user*/
#provocation {
    text-align: center;
    font-size: 2em;
}

/*Styling the start quiz button*/

#start-quiz {
    font-size: 0.75em;
    padding:15px 20px;
    border-radius: 10px;
}

#start-quiz:hover {
    cursor:pointer;
    background-color:rgb(0, 204, 255);
}

/*Styling the box in the middle of the page. This should not change position as you move through the questions.*/

#information, #quiz, #results{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:1em;
    background-color: white;
    border-radius: 10px;
    width:50%;
}

/*The code below would allow the information to pop up when the start button is pressed, the quiz question to pop up when
accept button is pressed and the results button to pop up when the final answer is anaswered.*/

#information.activeInfo, #results.activeResults, #quiz.activeQuiz{
    opacity:1;
    pointer-events: auto;
    transition-duration: 1s;
}

/*Styling the information section.*/

#information {
    font-size: 1.75em;
    opacity:0;
    pointer-events: none;
}

.title {
    font-size:1.25em;
    border-bottom: 1px solid black;
    padding:0.25em 0.75em 0.75em 0.75em;
    font-family: 'Noto+Serif+HK',sans-serif;
    font-weight: 600;
}

/*Styling the 'information.'*/

.info {
    line-height:1.5em;
    padding:0 10px;
}

.info span {
    font-weight: 600;
    color:rgb(83, 83, 216);
}

/*Styling the buttons for the quiz: the exit and accept button below the information section.*/
/*The design of the buttons was based on a youtube video. Credits given on the Readme file.*/

#buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:0.5em 1.5em;
    margin: 0;
    border-top: 1px solid black;
}

#exit-quiz {
    font-size: 0.65em;
    color:blue;
    border-color: blue;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width:50%;
    margin:1em 1em 0 1em;
}

#begin-quiz {
    font-size: 0.65em;
    background-color: blue;
    border-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    margin:1em 1em 0 1em;
}

#exit-quiz:hover{
    background-color: rgb(246, 21, 21);
    color:white;
    border-color: black;
    cursor: pointer;
}

#begin-quiz:hover{
    background-color: rgb(35, 236, 105);
    cursor: pointer;
    border-color: black;
    color: black;
}

/*Styling the quiz box, this includes both the questions and the answers.*/

#quiz {
    background-color: white;
    opacity:0;
    pointer-events: none;
}

/*Styling the title of the question box.*/
.ques-num {
    font-size:2.5em;
    font-weight: 700;
    font-family: 'Lobster',sans-serif;
}

#quiz header {
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding:0 1em 1em;
}

/*Styling the timer on the question box*/

#quiz .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:30%;
    font-size: 1.75em;
    border:2px solid ;
    background-color: rgb(8, 0, 255);
    padding:5px;
    border-radius: 5px;
}

.timer .timer-text {
    font-weight: 500;
}

.timer #count-down {
    background-color: white;
    padding:10px;
}

/*Styling for the question and answer section*/

#quiz .question-and-text {
    padding:0 1em;
    line-height: 1.75em;
}

#quiz .question-and-text #question {
    padding:1em 0;
    font-size: 2em;
    text-align: center;
}

/*Styling the answers. The correct answer and wrong answer wil display a different style.*/

#quiz .question-and-text #option-list {
    font-size: 1.5em;
    padding: 2em;
}

#quiz .question-and-text .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border:2px black solid;
    border-radius:5px;
    margin-bottom: 1em;
    padding:0.5em;
    cursor: pointer;
}

#quiz div.option.tick {
    color:green;
    border:2px solid green;
    background-color: greenyellow;
}

#quiz div.option.cross {
    color:rgb(255, 0, 0);
    border:2px solid rgb(255, 0, 0);
    background-color: pink;
}

#quiz .question-and-text .option:hover {
    background-color: aqua;
}

#quiz .question-and-text .option.disabled {
    pointer-events: none;
}

#quiz .question-and-text .option-list .icon-tick {
    color: green;
}

#quiz .question-and-text .option-list .icon-cross {
    color: red ;
}

/*Styling the footer*/

#quiz footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 1em;
    border-top: 1px solid black;
}

#quiz footer #total-question {
    font-size: 1.25em;
}

#quiz footer #next-que {
    display: none;
    font-size: 1.5em;
    padding: 10px;
    margin:0.4em 0 0;
    cursor: pointer;
    background-color: rgb(151, 151, 164);
}

#quiz footer #next-que:hover {
    background-color: rgb(166, 166, 254);
}

/*Styling the end result page.*/

#results {
    font-size: 1.5em;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
}

#results .congrats {
    font-size: 5em;
    padding: 0.25em;
}

#results .complete-test {
    font-size: 1.5em;
    padding:0 0 1em;
}

#result #final-message {
    font-size: 1.25em;
}

#results #score {
    padding:1em 0;
}

#results #score span {
    display:flex;
    padding:0;
}

#results #score span p {
    margin:0;
    padding:0 0.3em;
}

/*Styling the buttons that appear on the result page.*/

#results #press{
    width:100%;
    padding:0.25em;
}

#results #press button {
    padding:0.5em;
    font-size:1em;
    border-radius: 5px;
    width:50%;
    cursor: pointer;
}

#results #press #restart-quiz {
    background-color: blue;
    margin:0.5em 1em;
}

#results #press #quit-quiz {
    background-color: red;
    margin:0.5em 1em;
}

#results #press #restart-quiz:hover {
    background-color: aliceblue;
}

#results #press #quit-quiz:hover {
    background-color: aquamarine;
}