body{
    margin:0;
}

header {
    margin:0;
    padding:0;
}

h1 {
    margin:0;
    padding:2em;
}

/*Styling for the heading of the main page*/
/*The background should be colorful and engaging. This background captures the user's attention while still giving the title its share of attention.*/
#main-heading {
    font-size: 4em;
    text-align: center;
    width:100%;
    height:50vh;
    background: url('../images/hot-air-balloon.jpg') center center no-repeat;
    color:white;
}

/*Styling the navigation bar. There are only two items, the home and the quiz button. The home and quiz button will enlarge and change color when the mouse hovers over them.*/

nav {
    font-size:1.5em;
    padding: 0.75em;
    background-color: rgb(93, 72, 233);
    text-align: right;
}

nav a {
    text-decoration: none;
    border-radius: 25%;
    color:rgb(12, 12, 117);
}

.home-button {
    margin: 1em;
}

.quiz-button {
    margin:1em;
}

.home-button:hover {
    color:rgb(23, 218, 221);
}

.quiz-button:hover{
    color:rgb(23, 218, 221);
}

/*Styling the information section on the home page.*/
#information {
    text-align:center;
    font-size: 1.75em;
}

/*Styling for the heading of the heading of the quiz page. I think I'll use the same size and style.*/
#quiz-heading {
    font-size: 2.5em;
    text-align: center;
    background-color: blue;
}